body {
    background-color: #DFF389;
    display: flex;
    justify-content:center;
    flex-direction: column;
}
.paragraph {
    text-decoration: none;
    color: green;
    text-align:center;
}
.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
}
.boxName {
    padding: 5px;
    margin-right: 10px;
}
.btn {
    padding: 10px;
    width: 100px;
    background-color: green;
    color: white;
}
.boxes {
    display: flex;
    justify-content: row;
    align-content: center;
    flex-wrap: wrap;
}
li{
    padding: 50px;
    margin: 20px;
    background-color: white;
    color: green;
    align-items: center;
    text-align: center;
    align-content: center;
    list-style:none;
}